/src/JavaEE/basic-jax-ws/sample-jaxws/nbproject/private/
/src/JavaEE/basic-jax-ws/sample-jaxws/build/
/src/JavaEE/basic-jax-ws/sample-jaxws/dist/
/src/JavaEE/basic-jax-ws/netbeans-jax-ws-cdi/nbproject/private/
/src/JavaEE/basic-jax-ws/netbeans-jax-ws-cdi/build/
/src/JavaEE/basic-jax-ws/netbeans-jax-ws-cdi/dist/