# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\OneDrive\Visual Studio\Github\Git_ManhPD5\J2EE\src\build-automation-system\gradle\gradle-from-scratch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
