<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOME_LOG_PATH" value="./logs"/>
    <property name="PATTERN_CONSOLE" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n" />
    <property name="PATTERN_ROLLING_FILE" value="%d %p %c{1.} [%t] %m%n" />
    <property name="PATTERN_FILE" value="%-4relative %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="MAX_DAY_KEEP" value="60" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${PATTERN_CONSOLE}</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG_PATH}/full/full.log</file>
        <append>true</append>
        <encoder>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
    </appender>

    <appender name="fileRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_PATH}/error/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG_PATH}/error/error.%d{yyyy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
                it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>${MAX_DAY_KEEP}</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${PATTERN_ROLLING_FILE}</pattern>
        </encoder>
    </appender>

    <logger name="com.viettel.mobilemoney" level="debug" additivity="false">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileRollingAppender" />
    </logger>

    <root level="info">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileRollingAppender" />
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>