<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%30.30t] %-30.30c{1} %-5p %m%n</pattern>
        </encoder>
    </appender>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>target/camel-test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5p %c{1} - %m %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="out"/>
        <appender-ref ref="fileAppender" />
    </root>
</configuration>